<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>굿바이</string>
	<key>CFBundleIdentifier</key>
	<string>com.innogs.GBManager</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/GBMIcon.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSCameraUsageDescription</key>
	<string>카메라 상태 확인</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>마이크 상태 확인</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wi-Fi 연결</string>
	<key>CFBundleName</key>
	<string>굿바이매니저</string>
</dict>
</plist>
